.idea
lab1_1/cmake-build-debug
lab1_1/debug
lab1_1/release
lab1_1/cmake-build-release
lab1_2/cmake-build-debug
lab1_2/cmake-build-release
lab1_2/debug
lab1_2/release
lab1_3/cmake-build-debug
lab1_3/cmake-build-release
lab1_3/debug
lab1_3/release
lab1_4/cmake-build-debug
lab1_4/cmake-build-release
lab1_4/debug
lab1_4/release
lab1_5/cmake-build-debug
lab1_5/cmake-build-release
lab1_5/debug
lab1_5/release